.profile-img{
    max-width: 8rem;
    max-height: 70px;
    display: block;
    margin: 0 auto;
    border-radius: 50%;
}

.profile-img{
    box-shadow: 2px 2px 20px black;
}
.cards{
    padding-top: 10px;
    padding-bottom: 10px;
    transition: 0.6s;
}

.cards:hover{
    border-radius: 20px;
    transition: 0.7s;
    transform: scale(1.3);
}
